/*

	terrafirma1.0 by nodethirtythree design
	http://www.nodethirtythree.com
        
*/
body {
  font-family: Helvetica, Arial, FreeSans, san-serif;
  line-height: 1.4em;
  margin-left: 160px;
  margin-right: 160px;
}

h1 { 
  font-size: 150%;
}

h2 { 
  font-size: 140%;
}

/*Remove the line under links*/
a {
  text-decoration:none;
}

/*this is very important for me*/
/*pre {
  margin-left: 2%
}*/


p.figure {
  font-style:italic;
  text-align:center;
}

table.single {
  border:2px solid #E7E5DC;
  background-color: #f8f8f8;
}

table.multi {
  text-align: left;
}

caption.cap {
  font-style: italic;
  text-align: left;
}

th.title {
  background-color:#f8f8f8;
}

div.code pre{
  background-color: #f8f8f8;
  padding: 0.2em;
  font-size: 120%;
}

pre {
  background: #f8f8f8;
  border: 1px solid #E7E5DC;
  border-width: 1px 0 4px 6px;
  padding: 1ex;
  overflow: auto;
  color: black;
  line-height: 120%;
  font-family: "Consolas","Courier New","Courier","mono";
  font-size: 120%;
  letter-spacing: 0;
}

code {
  background: #f8f8f8;
  border: 1px solid #E7E5DC;
  padding: 0.1em;
}

pre code {
  border: none;
}

hr {
  height: 5px;
  width: 100%;
  background: gray;
}
