<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="../../css/typo.css" />
<link rel="stylesheet" type="text/css" href="../../css/tlcl.css" />
<link rel="icon" type="image/png" href="../../images/billi66.png" />
<title>TLCL</title>
</head>

<body>

<div id="wrapper" class="typo">

<a href="index.html">Go to Table of Contents</a>
<h1 style="text-align:center">{{ page.title }}</h1><br>
{{ content }}
<br />
<a href="index.html" class= "footer" >Go to Table of Contents</a>
</body>
</div>
</html>
