<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="../css/typo.css" />
  <link rel="stylesheet" type="text/css" href="../css/tlcl.css" />
  <link rel="icon" type="image/png" href="../images/billi66.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>TLCL</title>
</head>

<body>

<div id="wrapper" class="typo">

<a href="index.html">目录</a>
<h1 style="text-align:center">{{ page.title }}</h1><br>
{{ content }}
<br />
<a href="index.html" class= "footer" >Go to Table of Contents</a>
</body>
</div>
</html>
