<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xmlns= "http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="../css/tlcl.css" />
<link rel="setylesheet" type="text/css" href="../css/typo.css" />
<link rel="icon" type="image/png" href="../images/billi66.png" />
<title>TLCL</title>
</head>

<body>

<a href="index.html">Go to Table of Contents</a>
<h1 style="text-align:center">{{ page.title }}</h1>

<br />
{{ content }}

</body>
</html>
