<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="css/typo.css" />
<link rel="stylesheet" type="text/css" href="css/tlcl.css" />
<link rel="icon" type="image/png" href="./images/billi66.png" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>TLCL</title>
</head>

<body>
<div id="wrapper" class="typo" style="margin-top: 50px;">
<br />
<h2 style="text-align:center">快乐的 Linux 命令行</h2>
<br />

{{ content }}

</div>
</body>
</html>
