<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="css/typo.css" />
<link rel="stylesheet" type="text/css" href="css/tlcl.css" />
<link rel="icon" type="image/png" href="./images/billi66.png" />
<title>TLCL</title>
</head>

<body>
<div id="wrapper" class="typo" style="margin-top: 50px;">
<br />
<h2 style="text-align:center">The Linux Command Line</h2>
<br />
{{ content }}

</div>
</body>
</html>
